<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0945688 0.0183848 -0.144485" rpy="3.13191 -3.11659 1.65013" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0945688 0.0183848 -0.144485   0.00492789 -0.0124682 -0.678405 0.734566 tool0 camera_color_optical_frame" />
</launch>
