<launch>

	<include file="$(find abb_irb120_moveit_config)/launch/demo.launch" />
	<!-- <include file="$(find perception)/launch/camera_driver.launch" /> -->
	<!-- <include file="$(find ft_sensor_driver)/launch/force_control.launch" />  -->

     <node name="pixel_to_point" pkg="perception" type="pointcloud_test.py" output="screen" />
     <node name="motors_on" pkg="egm_config" type="start_robot.bash" output="screen" />
     <!-- <node pkg="screw_loosening" type="loosen_it.py" name="loosen_it" output="screen"> -->
         
     <!-- </node> -->
	<include file="$(find screw_loosening)/launch/camera_pose_big_a3.launch" />

</launch>
